.title-EcommerceHeader-input{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 40px;
    font-weight: bold;
}
.carouelImgHover{
    /* margin-top: 100px; */
}
.carouelImgHover:hover{

    border: 1px solid red 
    /* background-color: black ; */
    /* opacity:0.3; */
}