.uploud-image{
    border:1px black dashed;
    width: 90%;
    height: 85%;
    margin: 5%;
    padding: 15% 37%;
}
.upload-image-word{
   padding-left:5%; 
}
.uploud-image-choose-file{
    color:white;
}
.uploud-image-choose-file-div{
    background: var(--unnamed-color-fd5195) 0% 0% no-repeat padding-box;
    background: #FD5195 0% 0% no-repeat padding-box;
    border-radius: 5px;
    width: 8rem;
    height: 2rem;
    padding: 4% 14%;
    margin-left: 0.4rem;
}
.uploud-image-choose-file-div:hover{
    width: 8.8rem;
    height: 2.2rem;
    padding: 5% 17%;
}
