.sliderConfigSwitch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 19px;
    margin-left: 0.3rem;
  }
  
  .sliderConfigSwitch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .sliderConfigurator {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .sliderConfigurator:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 3px;
    background-color: #F77062;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .sliderConfigurator::before {
    background-color: grey;
  }
  
  input:checked + .sliderConfigurator {
    background-color: white;
  }
  
  input:focus + .sliderConfigurator {
    box-shadow: 0 0 1px white;
  }
  
  input:checked + .sliderConfigurator:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
  }
  
  /* Rounded sliders */
  .sliderConfigurator.round {
    border-radius: 34px;
  }
  
  .sliderConfigurator.round:before {
    border-radius: 50%;
  }
  .SC-input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid grey !important;
    color: white;
    opacity: 0.4;
  }
  .SC-alignment{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .SC-alignmentIcons{
    padding:0 !important;
    margin-right: 0 !important;
    padding-left: 10px !important;
  }
  /* slider size */
  .slidecontainer {
    width: 100%;
  }
.slider-range{
  height: 3px;
}
.SC-imgColud{
  margin-top: -0.5rem;
  margin-left: 0.3rem;
}
.SC-inputFile{
  background-color: #707070;
  border:1px solid #707070;
  height: 4rem !important; 
  width: 5.5rem !important;
  padding: 1rem;
}
.SC-textInCloud{
  font-size: 6px;
}
.SC-imgOfCarousel{
  width: 100%;
  height: 100%;
  padding: 0;
}
.tafritSliderConfig{
  padding-left: 0.25rem !important;
  color: #EBEAEA;

}
.SC-titleName{
  margin-left:0.05rem !important;
}
#favcolor{
  background-color: transparent;
  /* border:1px red solid; */
  margin-left: 1.5rem;
  border: none;
}
