.cartButtons Button,.continueShop{
        border-color: #707070;
        color: #F29544;
}

.cartButtons Button:hover,.continueShop:hover{
        border-color: #F29544;
        background-color: #F29544;
        color: white;
}
.cart tr{
        text-align: center;
        color:#707070;
}
.cart td:first-child{
        text-align: left;
}
.calcAmount Button{
        background-color: #E1DEDE;
}
.cart .tableHeader tr{
        background-color: #F29544;
        color:#FFFFFF;
}
.clickIcon{
        cursor: pointer;
}
.totalLine{
        border-bottom:2px dashed #707070;
}

.cart Table{
        border-bottom: 2px solid #707070;
}
 .borderToProduct{
        border-bottom: 1px solid #707070;
        text-align: center;
} 
.onlyProduct{
        height: 13rem;
        overflow-y:auto;
}
.cartPanal{
        border:0.5px solid #00000029;
        height: 20rem;
        width: 30rem;
        box-shadow :-5px 5px 5px #00000029;
        background-color: white;
        position: fixed;
        z-index: 10 !important;
        margin-left: 30.3rem!important;
    margin-top: 3.3rem;
}
.cartTotal{
        color:#707070;
        font-weight: bold;
}
.btnCartTotal{
        border:1px solid #E1DEDE;
        color:#F29544;
        text-align: center;
        font-weight: bold;
        background-color: transparent;
        width: 8rem;
        height: 2rem;

}
.btnCartTotal:hover{
        color:white;
        background-color:#F29544;
        font-weight: normal;
}