.my-file{
    padding-top: 10%;
    padding-left: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.upload-my-file{
    background: transparent linear-gradient(to top left, #FE5196 20%,  #FC894D 100%) 0% 0% no-repeat padding-box;
    width: 7rem;
    height:7rem;
    text-align: center;
    padding-top: 20%;
}
.icon-upload-my-file{
    color: white;
    font-size: 2rem;
}
.word-icon-upload-my-file{
    color: white;
}
.upload-my-file:hover{
    background-color:  rgba(0, 0, 0, 0.5);
}
.upload-my-file-div{
    /* border-bottom:3px #FE5196 solid; */
    width: 7rem;
    height:7rem;
    margin: 0;
}
.upload-my-file-div:hover{
   /* opacity: .2;
   filter: alpha(opacity=50);
   background-color: rgba(0, 0, 0, 0.5);
   transition: all 1s;
   -webkit-transition: all 1s; */
   /* background-color: black;
   opacity:0.7; */
   background:rgba(0,0,0,0.6);
    opacity: 0.8;
    /* z-index:10; */
}

