.newsLetter-all{
    color: white;
    background-image: url("../../assets/img/xd/newsLetter.png");
}
.newsLetter-Title{
    font-size: 20px;
    padding-left: 46%;
}
.newsLetter-SubTitle{
    font-size: 14px;
    padding-left: 22%
}