 /* //מבט מהיר */
 /* .sideBar{
  display: block;
  margin-top: 10%;
  /* box-shadow: 10px 0 5px -2px #888; */
  /* https://stackoverflow.com/questions/5115427/how-can-i-add-a-box-shadow-on-one-side-of-an-element */
/* } */ 
.imageProductQLook{
  display: block;
  margin: auto;
 width: 75%; 
 margin-top: 4rem;
}
.detailsProduct{
   width: 55%; 
   margin: auto;
  color: #707070;
  font-weight: bold;
}
.qu{
  float: left;
  margin-left: 8%;
}
.calcAmount{
  float: right;
  margin-right: -20%;
}
.qu,.calcAmount{
  display: inline;
} 
.btnCart{
  background-color: #F29544;
  color:white;
  font-weight: normal!important;
border:none;
font: normal normal normal 13px/15px Roboto;
width: 100%;
height: 35px;
margin-bottom: 8vh;
} 
 /* החלק של סיידבר שנפתח ונסגר מבט מהיר */
 .w3-sidebar{
  /* top: 0; */
  height:81vh;
    width:24%;
    background-color:#fff;
    display: flex;
    position:fixed;
    z-index:10;
    overflow:auto;
  }
  .w3-bar-block .w3-bar-item{
    display:block;
    padding:8px 16px;
    border:none;
    white-space:normal;
    float:right;
    outline:0
  }
  .w3-border-right{
    border-right:1px solid #ccc!important}
   
/* עד כאן החלק של מבט מהיר */
