.separatorStripe{
    width: 2px;
    height: 20px;
    background-color: black;
}
.cartHeader:hover{
    color: yellow;
    
}
/* #dropdown{
    
    background-color: transparent;
    color: black;
} */
#store_main_navbar{
    position: fixed;
    z-index: 6;
    padding:0;
    width:100%;
}
/* .navbar-translate{width: 100%;} */

.drag_icon_category{
    font-weight: 100;
    opacity: 0;
    color: black;
}

.drag_category:hover>.drag_icon_category{
    opacity: 1;
}
