.title-media-gallery{
    background: transparent linear-gradient(94deg, #FC894D 0%, #FE5196 100%) 0% 0% no-repeat padding-box;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
}
.word-title-media-gallery{
    /* font: var(--unnamed-font-style-normal) normal normal 21px/25px var(--unnamed-font-family-roboto); */
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    /* font: normal normal normal 21px/25px Roboto; */
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    margin-left: 2rem;
    margin-top: 0.7rem;
}